:root {
  --fallback-font-stack: Helvetica, Arial, serif;
}

.untitled-page1.main {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  background-color: black;
  overflow: hidden;
}
.untitled-page1 .navigationSection {
  display: flex;
  flex-direction: column;
  background-color: #121214;
}
.untitled-page1 .menuContainer {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin: 37px auto 36px;
  width: 721.9965820313px;
  max-width: 85%;
}
@media (max-width: 575px) {
  .untitled-page1 .menuContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.untitled-page1 .menuItem {
  font: 900 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page1 .menuItem {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page1 .menuItem {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .menuItem {
    font-size: 20px;
  }
}
.untitled-page1 .menuItem1 {
  z-index: 4;
  font: 900 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page1 .menuItem1 {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page1 .menuItem1 {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .menuItem1 {
    font-size: 20px;
  }
}
.untitled-page1 .menuItem2 {
  z-index: 3;
  font: 900 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page1 .menuItem2 {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page1 .menuItem2 {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .menuItem2 {
    font-size: 20px;
  }
}
.untitled-page1 .menuItem3 {
  z-index: 2;
  font: 900 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page1 .menuItem3 {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page1 .menuItem3 {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .menuItem3 {
    font-size: 20px;
  }
}
.untitled-page1 .destinationSection {
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 383px) {
  .untitled-page1 .destinationSection {
    row-gap: 50px;
  }
}
.untitled-page1 .cityBanner {
  margin: 0 auto;
  width: 100%;
  max-width: 1440.0001220703px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page1 .contentWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
  width: 100%;
  max-width: 1440.0001220703px;
  background: var(--src) center center/cover no-repeat;
}
.untitled-page1 .textContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  margin: 70px 3.89% 70px auto;
  width: 1211.0244140625px;
  max-width: 85%;
}
@media (max-width: 383px) {
  .untitled-page1 .textContainer {
    position: relative;
    margin: 50px 3.89% 50px auto;
  }
}
.untitled-page1 .locationTitle {
  margin: 0 auto;
  width: 766.9965820313px;
  max-width: 85%;
  font: 900 64px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.8px;
}
@media (max-width: 991px) {
  .untitled-page1 .locationTitle {
    align-items: flex-start;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .locationTitle {
    font-size: 36px;
  }
}
.untitled-page1 .introText {
  margin: 70px 0 0;
  width: 90.34%;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .untitled-page1 .introText {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .introText {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .untitled-page1 .introText {
    position: relative;
    margin: 50px 0 0;
  }
}
.untitled-page1 .techEcosystemText {
  margin: 35px 0 0;
  width: 96.61%;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .untitled-page1 .techEcosystemText {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .techEcosystemText {
    font-size: 20px;
  }
}
.untitled-page1 .livingCostText {
  margin: 35px 9px 0 0;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.2px;
}
@media (max-width: 991px) {
  .untitled-page1 .livingCostText {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .livingCostText {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .untitled-page1 .livingCostText {
    position: relative;
    margin: 35px 8px 0 0;
  }
}
.untitled-page1 .careerOpportunityText {
  margin: 35px 0 0;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .untitled-page1 .careerOpportunityText {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .careerOpportunityText {
    font-size: 20px;
  }
}
.untitled-page1 .startupEnvironmentText {
  margin: 35px 31px 0 0;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.2px;
}
@media (max-width: 991px) {
  .untitled-page1 .startupEnvironmentText {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page1 .startupEnvironmentText {
    position: relative;
    margin: 35px 16px 0 0;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .startupEnvironmentText {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .untitled-page1 .startupEnvironmentText {
    margin: 35px 8px 0 0;
  }
}
.untitled-page1 .culturalAdaptationText {
  margin: 35px 12px 0 0;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .untitled-page1 .culturalAdaptationText {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .culturalAdaptationText {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .untitled-page1 .culturalAdaptationText {
    position: relative;
    margin: 35px 8px 0 0;
  }
}
.untitled-page1 .careerBenefitsText {
  margin: 35px 1px 0 0;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .untitled-page1 .careerBenefitsText {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .careerBenefitsText {
    font-size: 20px;
  }
}
.untitled-page1 .dreamDestinationSection {
  display: flex;
  flex-direction: column;
}
.untitled-page1 .introWrapper {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;
  width: 100%;
  max-width: 1440.0001220703px;
  background-color: #121214;
}
.untitled-page1 .contentContainer {
  display: flex;
  flex-direction: column;
  margin: 105px auto;
  width: 85.42%;
  background-color: #191919;
  outline: 10px solid black;
  outline-offset: 0;
}
@media (max-width: 575px) {
  .untitled-page1 .contentContainer {
    position: relative;
    margin: 80px auto;
  }
}
@media (max-width: 383px) {
  .untitled-page1 .contentContainer {
    margin: 50px auto;
  }
}
.untitled-page1 .mainLayout {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin: 39px 0 79px 6.34%;
  width: 942.0833740234px;
  max-width: 85%;
}
@media (max-width: 991px) {
  .untitled-page1 .mainLayout {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
@media (max-width: 383px) {
  .untitled-page1 .mainLayout {
    position: relative;
    margin: 39px 0 50px 6.34%;
  }
}
.untitled-page1 .creatorProfile {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 505px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page1 .creatorProfile {
    position: relative;
    width: 100%;
    min-width: unset;
  }
}
.untitled-page1 .creatorHeading {
  z-index: 1;
  font: 600 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .untitled-page1 .creatorHeading {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .creatorHeading {
    font-size: 20px;
  }
}
.untitled-page1 .creatorMsg {
  font: 500 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .untitled-page1 .creatorMsg {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .creatorMsg {
    font-size: 20px;
  }
}
.untitled-page1 .destinationList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0 0 38px;
  width: 240px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page1 .destinationList {
    position: relative;
    margin: 0;
    width: 100%;
    min-width: unset;
  }
}
.untitled-page1 .destinationHeading {
  font: 600 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page1 .destinationHeading {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .destinationHeading {
    font-size: 20px;
  }
}
.untitled-page1 .destinationGrid {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media (max-width: 383px) {
  .untitled-page1 .destinationGrid {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.untitled-page1 .leftColumn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 114px;
  min-width: 0;
}
.untitled-page1 .cityName {
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page1 .cityName {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .cityName {
    font-size: 20px;
  }
}
.untitled-page1 .cityName1 {
  z-index: 1;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page1 .cityName1 {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .cityName1 {
    font-size: 20px;
  }
}
.untitled-page1 .rightColumn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0 0 39px;
  width: 81px;
  min-width: 0;
}
.untitled-page1 .cityName2 {
  margin: 0 22px 0 0;
  font: 700 24px/1.2 Inter, Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 991px) {
  .untitled-page1 .cityName2 {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page1 .cityName2 {
    position: relative;
    margin: 0 16px 0 0;
  }
}
@media (max-width: 479px) {
  .untitled-page1 .cityName2 {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .untitled-page1 .cityName2 {
    margin: 0 8px 0 0;
  }
}